.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form__buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-form input, .contact-form select, .contact-form textarea {
    margin: 10px;
    padding: 14px;
    border-radius: 10px;
    border: 1px solid #FFC837;
    color: #7a7f8a;
    font-size: 16px;
}

.contact-form__buttons input {
    border-radius: 4px;
    border: 0;
    padding: 12px 30px;
}

.contact-form__buttons input:hover {
    cursor: pointer;
    opacity: 0.8;
}

input.contact-form__button-reset {
    background-color: #7a7f8a;
    color: #ffffff;
}

input.contact-form__button-submit {
    background-color: #15151b;
    color: #ffffff;
}

input.invalid, textarea.invalid {
    border-color: #f62b3f;
}

.form-message {
    text-align: center;
}

.form-message__error {
    padding: 14px;
    margin: 10px;
    border-radius: 8px;
    border: 1px solid #f62b3f;
}