html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: 'SF Pro D', sans-serif;
  background: #F6F6F6;
}

header {
  background-color: #333333;
}

nav, nav a {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #7a7f8a;
  font-size: 16px;
}

nav li, nav a {
  list-style: none;
  margin-left: 18px;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  color: #F6F6F6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  padding: 15px 40px;
  border-radius: 40px;
  margin: 20px 20px 20px 0;
  border: 0;
  color: #fff;
  transition: 0.5s;
  background-size: 200% auto;
  background-image: linear-gradient(to right, #FF8008 0%, #FFC837  51%, #FF8008  100%);
  text-transform: uppercase;
}

button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

::placeholder {
  opacity: 1;
}
