.partners {
    margin: 40px 0 0;
    padding: 80px 0 80px;
    background: rgb(33, 37, 45);
    background: linear-gradient(90deg, rgba(33,37,45,1) 0%, rgba(42,36,47,1) 100%);
    text-align: center;
}

.partners h2 {
    font-size: 22px;
    font-weight: lighter;
    margin-bottom: 0;
    color: #e9ecf4;
}

.partners p {
    color: #60636f;
    font-size: 16px;
    margin: 8px 0;
    font-weight: lighter;
}

/* Carousel */
.item-image {
    max-width: 120px;
    vertical-align: middle;
}

@media (max-width: 600px) {
    .carousel-wrapper__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .carousel-item {
        margin: 20px;
    }
}

@media (max-width: 840px) {
    .carousel-wrapper__carousel-indicators {
        padding: 0 20px;
    }

    .carousel-wrapper__inner {
        margin: 40px 32px;
    }
}