.reviews {
    padding:  0 0 40px 0;
    background: url('./images/buildings.png') center #ffffff;
    background-size: cover;
}

.reviews h2 {
    text-align: center;
    color: #21252D;
    margin: 0;
    padding: 100px 0 0 0;
}

.reviews p {
    text-align: center;
    color: #595c65;
    margin: 8px 0;
}

.reviews-content {
    margin: 0 auto;
}

.reviews-content__border {
    margin: 40px auto;
    padding: 0;
    max-width: 50px;
    border-bottom: 10px solid #ff9933;
    opacity: 0.5;
}

.reviews-content__comments {
    margin: 0 auto;
    height: 420px;
    max-width: 600px;
    border-radius: 16px;
    box-shadow: 0 10px 13px -5px rgba(151,143,143,0.75);
    background: url('./images/icons/quote.svg') no-repeat #ffffff;
    background-position-x: right;
    background-position-y: top;
    background-size: 25%;
}

.comments-taxi {
    width: 400px;
    height: 200px;
    margin: -100px 50%;
    z-index: 5;
    background: url('./images/taxi-car.png') center no-repeat;
    background-size: contain;
}

.comments-item {
    padding: 90px 50px 80px 130px;
    display: flex;
    flex-direction: row;
}

.comments-item__photos {
    position: absolute;
    margin-left: -165px;
}

.comments-item__author {
    text-align: left;
}

.comments-item__author span {
    font-weight: bold;
    font-size: 16px;
}

.comments-item__author p {
    text-align: left;
    font-size: 13px;
    font-style: italic;
    color: #60636f;
    font-weight: lighter;
}

.comments-item__text {
    margin: 30px 0 0 0;
    font-size: 14px;
    color: #7a7f8a;
    font-weight: lighter;
    line-height: 24px;
}

.comments-item__text p {
    text-align: left;
}


.comments-item__photo {
    width: 70px;
    height: 70px;
    margin: 0 0 20px 0;
    border-radius: 50%;
}

.photo-round {
    vertical-align: middle;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    filter: brightness(50%);
    transition: ease 0.5s;
}

.photo-round.active {
    filter: brightness(100%);
}

.comments-item__photo.active, .comments-item__photo:hover {
    background: transparent;
}

.photo-round:hover {
    cursor: pointer;
    filter: brightness(100%);
}

.reviews-content__request {
    margin: 40px auto;
    padding: 10px;
    text-align: center;
}

.reviews-content__request p {
    font-size: 15px;
}

.request-form {
    padding: 0 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px auto;
    background-color: #ffffff;
    border-radius: 60px;
    box-shadow: 0 10px 13px -7px #7a7f8a, 5px 5px 15px 5px rgba(0,0,0,0);
}


.request-form input {
    background: transparent;
    padding-left: 40px;
    color: #7a7f8a;
    font-size: 15px;
    border: 0;
}

.request-form input:focus {
    outline: none;
}

.request-form button {
    margin: 8px 0;
}

input.request-form__name {
    background: url('./images/icons/user-icon.svg') left no-repeat;
    background-size: 30px;
    border-radius: 40px;
}

input.request-form__phone {
    background: url('./images/icons/phone.svg') left no-repeat;
    background-size: 30px;
}

.request-form__phone.invalid, .request-form__name.invalid {
    background-image: linear-gradient(to right, #f00000 0%, #f62b3f  51%, #f00000 100%);
    background-size: 200% auto;
    color: #ffffff;
    transition: 0.5s;
    animation-duration: 2s;
    animation-name: requireValid;
}

p.request-disclaimer {
    margin: 80px 0 0 0;
    font-size: 11px;
    color: #7a7f8a;
}

@keyframes requireValid {
    from {
        background-position: center;
    }

    to {
        background-position: right center;
    }
}

@media (max-width: 600px) {
    .reviews-content {
        max-width: 350px;
    }

    .reviews-content__comments {
        height: auto;
    }

    .comments-item__comment {
        height: 280px;
    }

    .comments-item {
        display: flex;
        flex-direction: column-reverse;
        padding: 30px;
    }

    .comments-item__photos {
        position: static;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .comments-item__photo {
        margin: 0 10px;
    }

    .comments-item__text {
        height: 50%;
    }

    .reviews-content__request {
        padding: 6px;
        margin: 0 auto;
    }

    .request-form {
        flex-direction: column;
        border-radius: 16px;
        box-shadow: 0 10px 13px -5px rgba(151,143,143,0.75);
    }

    .request-form input {
        height: 30px;
        margin: 20px auto;
        width: 80%;
    }

    .request-form button {
        margin: 10px auto;
        width: 60%;
    }

    .request-form__name.invalid {
        border-radius: 40px;
    }

    .request-form__phone.invalid {
        border-radius: 40px;
    }

    .comments-taxi {
        margin: -100px 35%;
    }
}

