.container {
  max-width: 980px;
}
/**0% 0% 100% 0% / 50% 10% 61% 0% **/

h1 {
  color: #ffffff;
}

.header-nav {
  background: #1e1b23;
  color: #fff;
}

.header-container {
  margin: 0 auto;
  padding: 10px 0;
  max-width: 980px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  background-image: url("./images/Logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 120px;
  height: 40px;
}

.header-content {
  margin: 0 40%;
  width: 500px;
}

.header-content__heading p {
  color: #F6F6F6;
  margin: 40px 0;
}

.logo-text {
  margin-left: 24px;
  margin-top: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.phone {
  font-size: calc(14px + 1vw);
  margin-left: 0;
}

.phone:hover {
  cursor: pointer;
}

.phone-link {
  background: none;
}

.phone-link:hover {
  cursor: pointer;
  opacity: 0.8;

}

.phone-link span {
  display: inline-block;
  background: #FFC837;
  mask-image: url("./images/incoming-call.svg");
  mask-size: contain;
  mask-position: center;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}