.workflow {
    padding: 80px 0 20px 0;
    text-align: center;
    background: url('./images/world-map.png') bottom no-repeat #fbfbfb;
    background-size: cover;
}

.workflow h2 {
    margin-bottom: 8px;
}

.workflow p {
    margin: 0;
    color: #7a7f8a;
    font-size: 15px;
    font-weight: lighter;
}

.workflow-content {
    margin: calc(80px + 2vw) auto;
    width: 600px;
}

.workflow-content__divider {
    border-left: 2px dashed #ffc130;
    height: 440px;
    position: absolute;
    left: 50%;
    margin-top: 40px;
    margin-left: -3px;
}

.workflow-content__item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 100px auto;
}

.workflow-content__image {
    position: relative;
    left: 30%;
    width: 60px;
    height: auto;
}

.workflow-content__description {
    text-align: left;
    padding: 30px;
    max-width: 200px;
    background: #ffffff;
    border-radius: 10px;
    line-height: 24px;
    box-shadow: 0 10px 13px -7px #7a7f8a, 5px 5px 15px 5px rgba(0,0,0,0);
}

.workflow-content__description h4 {
    font-size: 14px;
    display: inline;
}

.workflow-content__description p {
    display: inline;
}

.workflow-content__item:nth-child(2n) {
    flex-direction: row;
}

.workflow-content__item:nth-child(3n) .workflow-content__description {
    text-align: right;
}

.workflow-content__circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffffff;
    position: absolute;
    margin-left: 283px;
    box-shadow: 0 10px 13px -7px #7a7f8a, 5px 5px 15px 5px rgba(0,0,0,0);
}

.workflow-content__circle-inner {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffc130;
    transform: translate(25%, 25%);
}

.workflow-content__circle-center {
    display: block;
    border-radius: 50%;
    width: 70%;
    height: 70%;
    background-color: #ffffff;
    transform: translate(20%, 20%);
}

.workflow-content__item:nth-child(3n) .workflow-content__circle {
    margin-right: 287px;
}

.workflow-content__item:nth-child(3) .workflow-content__circle-inner {
    background-color: #ff942a;
}

.workflow-content__item:nth-child(3) .workflow-content__image {
    position: relative;
    left: -30%;
    width: 60px;
    height: auto;
}

.workflow-content__item:nth-child(4) .workflow-content__circle-inner {
    background-color: #ff6622;
}

.workflow-content__item:last-of-type {
    margin-bottom: 0;
}

@media (max-width: 600px) {
    .workflow-content__divider {
        margin-top: 30px;
        margin-left: 0;
        z-index: 1;
        height: 540px;
    }

    .workflow-content {
        max-width: 320px;
        margin: 40px auto;
        position: relative;
    }

    .workflow-content__circle {
        position: static;
        margin-left: 1px;
        margin-bottom: 50px;
    }

    .workflow-content__item {
        display: flex;
        margin: 50px auto;
        position: relative;
        flex-direction: column;
        z-index: 2;
    }

    .workflow-content__item:nth-child(2n) {
        flex-direction: column;
    }

    .workflow-content__item:nth-child(3n) .workflow-content__circle {
        margin-left: 1px;
        margin-right: 0;
    }

    .workflow-content__item:nth-child(3n) .workflow-content__description {
        text-align: left;
    }
}